certifi==2023.11.17
charset-normalizer==3.3.2
comtypes==1.2.1
idna==3.6
PyAudio==0.2.14
pypiwin32==223
pyttsx3==2.90
pywin32==306
requests==2.31.0
SpeechRecognition==3.10.1
typing_extensions==4.9.0
urllib3==2.1.0
