.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.time {
    font-size: 3em; /* Adjust as needed to cover 50% length of the buttons */
    margin-bottom: 20px; /* Spacing between the timer and the buttons */
}

.buttons {
    display: flex;
    gap: 5px; /* Adjust the spacing between buttons */
}

.buttons button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

/* Start button style */
.buttons .start-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* Stop button style */
.buttons .stop-button {
    background-color: #FF0000; /* Red */
    color: white;
}
.buttons .pause-button {
    background-color: #2196F3; /* Blue */
    color: white;
}

.buttons button:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
}
